
.bodyText {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.intro {
    display: flex;
    justify-content: center;
    border: dashed 3px black; 
}
  
  body {
    width: 640px;
    margin: 0 auto;
  }
 
#comic {
    background-color: black;
    color: white;
    position: absolute;
    top: 250px;
    left: 10%;
}

#title {
    background-color: black;
    color: white;
    position: absolute;
    top: 200px;
    left: 50%;
}
  
#date {
    background-color: black;
    color: white;
    position: absolute;
    top: 225px;
    left: 50%;
}
.controls {
    background: orange;
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 160px;
    left: 40%;

  }
