body {
    font-family: 'avory-i-pe-variable', 'Times New Roman', Times, serif;
    font-style: normal;
    font-variation-settings: "wght" 500;  
    margin: 0;
    padding: 0;
}

#projects{
    display: flex;
    flex-direction: column;
    margin: 10vh 20vw;
}

#projects a{ /*gets rid or underlined links*/
    text-decoration: none;
    color: black;
}

.project:hover{ /*adds background hover color to indicate link*/
    background-color: rgb(209, 222, 127);
}

.project{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px 20px;
}

.project img{
    width: 10vw;
}

/*button display */

#buttons{
    display: flex;
    justify-content: center;
}

#buttons button{ /*buttons = div id from HTML*/
    margin: 10px;
}

/* about section */

#about {
    background-color: #0e0151;
    display: flex;
    height: 100vh;
    position: relative;

}
.greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffded;
    width: 50vw;
    color: #0e0151;
    margin: auto;
}

.logo {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 100px;
   height: auto;

}
